<div class="col-sm-12 mt-3">
    <div class="card ">
        <div class="card-body">
            <button class="btn btn-success my-2" routerLink="/users/add">افزودن کاربر جدید</button>
            <div class="recent-table table-responsive currency-table">
            <table class=" table table-hover">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">تصویر </th>
                        <th scope="col">نام</th>
                        <th scope="col">نام کاربری</th>
                        <th scope="col">دستورات</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let user of userData.users">
                        <th scope="row">{{user.id}}</th>
                        <th scope="row">
                            <img *ngIf="user.avatar && user.avatar !==''" [src]="'http://192.168.10.167/uploaded/images/'+user.avatar" alt="پروفایل">
                            <img *ngIf="!user.avatar && user.avatar ===''" src="assets/images/user.jpg"
                                alt="پروفایل">
                        </th>
                        <td>{{user.firstName + ' ' + user.lastName}}</td>
                        <td>{{user.userName}}</td>
                        <!-- options -->
                        <td>
                            <button class="btn btn-primary" (click)="ShowUser(user.id,update)"><i class="fa fa-edit top-2 fs-13"></i></button>
                            <button class="btn btn-danger" (click)="deleteUser(user,delete)"><i class="fa fa-trash fs-13"></i></button>
                        </td>
                    </tr>
                </tbody>
            </table>
            </div>
            <nav *ngIf="userData.paginationHeader.totalPages>1" aria-label="Page navigation example" class="w-100 d-flex justify-content-end my-4">
                <ul class="pagination">
                    <li *ngIf="userData.paginationHeader.currentPage > 1 " class="page-item">
                        <a class="page-link" href="javascript:;" (click)="showUsers(userData.paginationHeader.currentPage-1,itemsPerPage)"  aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li *ngIf="userData.paginationHeader.currentPage > 1" class="page-item">
                        <a class="page-link" href="javascript:;" (click)="showUsers(userData.paginationHeader.currentPage-1,itemsPerPage)" >{{userData.paginationHeader.currentPage-1}}</a>
                    </li>
                    <li  class="page-item">
                        <a class="page-link disabled" disabled="" href="javascript:;" >{{userData.paginationHeader.currentPage}}</a>
                    </li>
                    <li *ngIf="userData.paginationHeader.currentPage<userData.paginationHeader.totalPages" class="page-item">
                        <a class="page-link" (click)="showUsers(userData.paginationHeader.currentPage+1,itemsPerPage)" href="javascript:;">{{userData.paginationHeader.currentPage+1}}</a></li>
                    <li *ngIf="userData.paginationHeader.currentPage<userData.paginationHeader.totalPages" class="page-item">
                        <a class="page-link" href="javascript:;" (click)="showUsers(userData.paginationHeader.currentPage+1,itemsPerPage)"  aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>


    <ng-template #update let-modal>
        
        <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">مشاهده کاربر </h4>
            <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
        </div>
        <div class="modal-body">
            <div class="card social-profile">
                <div class="card-body">
                    <div class="social-img-wrap">
                        <div class="social-img"><img src="assets/images/dashboard-5/profile.png" alt="profile" /></div>
                        <div class="edit-icon">
                            <svg>
                                <use href="assets/svg/icon-sprite.svg#profile-check"></use>
                            </svg>
                        </div>
                    </div>
                    <div class="social-details">
                        <h5 class="mb-1"><a href="social-app.html">{{user.firstName + ' '+user.lastName}}</a></h5>
                        <span class="f-light">{{user.userName}}</span>
                        <ul class="card-social">
                            <li>
                                <a href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li>
                                <a href="https://accounts.google.com/" target="_blank"><i class="fa fa-google-plus"></i></a>
                            </li>
                            <li>
                                <a href="https://twitter.com/" target="_blank"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li>
                                <a href="https://www.instagram.com/" target="_blank"><i class="fa fa-instagram"></i></a>
                            </li>
                            <li>
                                <a href="https://rss.app/" target="_blank"><i class="fa fa-rss"></i></a>
                            </li>
                        </ul>
                        <ul class="social-follow">
                            <li>
                                <h5 class="mb-0">1,908</h5>
                                <span class="f-light">Posts</span>
                            </li>
                            <li>
                                <h5 class="mb-0">34.0k</h5>
                                <span class="f-light">Followers</span>
                            </li>
                            <li>
                                <h5 class="mb-0">897</h5>
                                <span class="f-light">Following</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        
    </ng-template>
    
    <ng-template #delete let-modal>

        <div class="modal-header">
            <h4 class="modal-title" >حذف کاربر </h4>
            <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
        </div>
                    <form  method="post">
                        <div class="modal-body">

                            <div class="form-group">
                                <label>آیا از حذف کاربر   <span id="productName" class="text-danger">{{user.firstName +' '+user.lastName}}</span> اطمینان دارید </label>
                                <input type="hidden" name="product_id" id="productId">
                            </div>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-light ml-auto" (click)="modal.dismiss('cancel click')"  >انصراف</button>
                            <button type="submit" class="btn btn-danger">بله حذف شود</button>
                        </div>
                    </form>
           
    </ng-template>
    
</div>