<div class="col-md-12  box-col-12">
  <div class="card">
    <div class="card-header">
      <h5>تسک ها</h5>
    </div>
    <div class="card-body">
      <div class="todo">
        <div class="todo-list-wrapper">
          <div class="todo-list-container">
            <div class="mark-all-tasks">
              <div class="mark-all-tasks-container">
                <span class="mark-all-btn" id="mark-all-finished" role="button" [ngClass]="{ 'move-up': completed }"
                  id="mark-all-finished" role="button">
                  <span class="btn-label">علامت همه به عنوان انجام شده</span>
                  <span class="action-box completed" (click)="markAllAction(true)">
                    <i class="icon">
                      <i class="icon-check"></i>
                    </i>
                  </span>
                </span>
                <span class="mark-all-btn move-down" id="mark-all-incomplete" role="button"
                  [ngClass]="{ 'move-down': !completed }">
                  <span class="btn-label">علامت همه به عنوان ناتمام</span><span class="action-box">
                    <i class="icon" (click)="markAllAction(false)">
                      <i class="icon-check"></i>
                    </i>
                  </span>
                </span>
              </div>
              <div class="todo-list-footer ms-2">
                <div class="add-task-btn-wrapper">
                  <span class="add-task-btn">
                    <button class="btn btn-primary" (click)="open(add_task)"><i class="icon-plus"></i> اضافه کردن تسک
                      جدید</button>
                  </span>
                </div>
              </div>
            </div>
            <div class="todo-list-body">
              <ul id="todo-list">
                <li class="task" [ngClass]="{
                    completed: todo.completed ? todo.completed : completed
                  }" *ngFor="let todo of todos; let i = index">
                  <div class="task-container">
                    <h4 class="task-label">{{ todo.text }}</h4>
                    <div class="d-flex align-items-center gap-4">
                      <div>
                        <span class="task-priority badge {{ todo.badgeClass }}">{{ todo.priority }}</span>
                      </div>
                      <h5 class="assign-name">{{ todo.Date }}</h5>
                      <span class="task-action-btn">
                        <span class="action-box large delete-btn" title="Delete Task" (click)="taskDeleted(i)"><i
                            class="icon"><i class="icon-trash"></i></i>
                        </span>
                        <span class="action-box large complete-btn" title="Mark Complete"
                          (click)="taskCompleted(todo)"><i class="icon"><i class="icon-check"></i></i>
                        </span>
                      </span>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
            <div class="todo-list-footer">

            </div>
          </div>
        </div>
        <div class="notification-popup hide">
          <p><span class="task"></span><span class="notification-text"></span></p>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #add_task let-modal>
  <div class="modal-header">
    <h4 class="modal-title">افزودن وظیفه </h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>

  <div class="modal-body">
    <div class="new-task-wrapper">
      <textarea class="textfield form-control mb-3" name="todo" rows="5" id="new-task" [(ngModel)]="text"
        [class.border-danger]="red_border"></textarea>
      <span class="btn btn-danger cancel-btn" id="close-task-panel" (click)="modal.dismiss('Cancel click')">بستن</span>
      <span class="btn btn-success ms-3 add-new-task-btn" id="add-task" (click)="
                    addTask({
                      text: text,
                      Date: myDate,
                      priority: 'Pending',
                      badgeClass: 'badge-light-danger',
                      completed: false
                    })
                  ">افزودن</span>
    </div>
  </div>
</ng-template>