# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/.idea.TaskManager-001.iml
/projectSettingsUpdater.xml
/contentModel.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

# .NET files
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates
bin/
obj/

# Angular files
dist/
out-tsc/
node_modules/
.angular/
.idea/
.vscode/
.angular-build/
.tmp/

# Logs and temporary files
*.log
<<<<<<<< HEAD:.gitignore
*.tmp
========
*.tmp
>>>>>>>> 2e1b7df0daa327bd296fe8c1325066963ee806e3:.gitigonre
