<app-bread-crumbs></app-bread-crumbs>
<div class="container-fluid email-wrap bookmark-wrap todo-wrap">
    <div class="row">
        <div class="col-xl-3 xl-30 box-col-12">
            <div class="email-sidebar md-sidebar">
                <a class="btn btn-primary email-aside-toggle md-sidebar-toggle">To Do filter</a>
                <div class="email-left-aside md-sidebar-aside">
                    <div class="card">
                        <div class="card-body">
                            <div class="email-app-sidebar left-bookmark custom-scrollbar">
                                <div class="d-flex align-items-center">
                                    <div class="media-size-email"><img class="me-3 img-40 rounded-circle"
                                            src="assets/images/user/user.png" alt="" /></div>
                                    <div class="flex-grow-1">
                                        <h6 class="f-w-600">کوروش عیدی وندی</h6>
                                        <p></p>
                                    </div>
                                </div>
                                <ul class="nav ma in-menu">
                                    <li class="nav-item">
                                        <button class="btn-primary badge-light d-block btn-mail w-100"><i class="me-2"
                                                data-feather="check-circle"> </i>لیست کارها</button>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-9 xl-70 box-col-12">
            <div class="card">
                <div class="card-header">
                    <h5>کارها</h5>
                </div>
                <div class="card-body">
                    <div class="todo">
                        <div class="todo-list-wrapper">
                            <div class="todo-list-container">
                                <div class="mark-all-tasks">
                                    <div class="todo-list-footer ms-2">
                                        <div class="add-task-btn-wrapper">
                                            <span class="add-task-btn">
                                                <button class="btn btn-primary" (click)="visible = true"><i
                                                        class="icon-plus"></i> Add new
                                                    task</button>
                                            </span>
                                        </div>
                                    </div>
                                </div>

                                <div class="todo-list-body">
                                    <ul id="todo-list">
                                        <li class="task" [ngClass]="{
                          completed: todo.completed ? todo.completed : completed
                        }" *ngFor="let todo of todos; let i = index">
                                            <div class="task-container">
                                                <h4 class="task-label">{{ todo.text }}</h4>
                                                <div class="d-flex align-items-center gap-4">
                                                    <div>
                                                        <span class="task-priority badge {{ todo.badgeClass }}">{{
                                                            todo.priority }}</span>
                                                    </div>
                                                    <h5 class="assign-name">{{ todo.Date }}</h5>
                                                    <span class="task-action-btn">
                                                        <span class="action-box large delete-btn" title="Delete Task"
                                                            (click)="taskDeleted(i)"><i class="icon"><i
                                                                    class="icon-trash"></i></i>
                                                        </span>
                                                        <span class="action-box large complete-btn"
                                                            title="Mark Complete" (click)="taskCompleted(todo)"><i
                                                                class="icon"><i class="icon-check"></i></i>
                                                        </span>
                                                    </span>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="notification-popup hide">
                            <p><span class="task"></span><span class="notification-text"></span></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>