<div class="card add-user-page">
    <div class="card-body container-lg">
        <h4 class="mb-3">افزودن کاربر جدید</h4>
        <form class="d-flex flex-column gap-3" [formGroup]="addUserForm">
            <div class="row">
                <div class="row">
                    <div class="col-4 mb-3">
                        <label for="name" class="form-label">نام</label>
                        <input required formControlName="name" type="text" class="form-control" id="name" />
                        <div *ngIf="addUserForm.controls.name.touched && addUserForm.controls.name.errors?.required"
                            class="text text-danger mt-1">وارد کردن نام الزامی است!</div>
                        <div *ngIf="addUserForm.controls.name.touched && addUserForm.controls.name.errors?.minlength"
                            class="text text-danger mt-1">نام باید حداقل 4 کاراکتر باشد!
                        </div>
                    </div>
                    <div class="col-4 mb-3">
                        <label for="familyName" class="form-label">نام خانوادگی</label>
                        <input required formControlName="familyName" type="text" class="form-control" id="familyName" />
                        <div *ngIf="addUserForm.controls.familyName.touched && addUserForm.controls.familyName.errors?.required"
                            class="text text-danger mt-1">وارد کردن نام خانوادگی الزامی است!
                        </div>
                        <div *ngIf="addUserForm.controls.familyName.touched && addUserForm.controls.familyName.errors?.minlength"
                            class="text text-danger mt-1">
                            نام خانوادگی باید حداقل 4 کاراکتر باشد!
                        </div>
                    </div>
                    <div class="col-4 mb-3">
                        <label for="username" class="form-label">نام کاربری</label>
                        <input type="text" formControlName="username" required class="form-control" id="username" />
                        <div *ngIf="addUserForm.controls.username.touched && addUserForm.controls.username.errors?.required"
                            class="text text-danger mt-1">وارد کردن نام کاربری الزامی است!
                        </div>
                        <div *ngIf="addUserForm.controls.username.touched && addUserForm.controls.username.errors?.pattern"
                            class="text text-danger mt-1">
                            نام کاربری باید با کاراکترهای انگلیسی (a - z) نوشته شود <br>
                            نام کاربری باید بیشتر از 4 کاراکتر باشد
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="mb-3 col-4">
                        <label for="paswword" class="form-label">پسورد</label>
                        <input formControlName="password" required type="password" class="form-control" id="password">
                        <div *ngIf="addUserForm.controls.password.touched && addUserForm.controls.password.errors?.required"
                            class="text text-danger mt-1">وارد کردن پسورد الزامی است!
                        </div>
                        <div *ngIf="addUserForm.controls.password.touched && addUserForm.controls.password.errors?.pattern"
                            class="text text-danger mt-1">
                            پسورد باید فقط شامل کاراکتر های انگلیسی باشد <br />
                            پسورد باید شامل اعداد باشد <br />
                            پسورد باید شامل حروف بزرگ و کوچک باشد <br />
                            پسورد باید حداقل ۴ کاراکتر باشد <br />
                        </div>
                    </div>
                    <div class="mb-3 col-4">
                        <label for="exampleInputEmail1" class="form-label">تایید پسورد</label>
                        <input (change)="passwordMatchValidator(addUserForm)" type="password" class="form-control"
                            formControlName="confirmPassword" id="confirmPassword" />
                        <div *ngIf="addUserForm.controls.confirmPassword.touched && addUserForm.controls.confirmPassword.errors?.required"
                            class="text text-danger mt-1">
                            وارد کردن تایید پسورد الزامی است!
                        </div>
                        <div *ngIf="addUserForm.controls.confirmPassword.touched && addUserForm.controls.confirmPassword.errors?.passwordMismatch"
                            class="text text-danger mt-1">
                            پسورد و تایید پسورد باید یکسان باشند
                        </div>

                    </div>
                </div>
                <div class="row">
                    <div class="col-4 d-flex flex-column gap-4">
                        <div class="user-photo-container">
                            <img class="rounded-5 user-photo" src="assets/images/default-avatar.png" alt="تصویر پیشفرض">
                        </div>
                        <div class="choose-photo-parent">
                            <label class="form-label" for="customFile">آپلود پروفایل جدید</label>
                            <div *ngIf="status !== 'initial'" class="progress my-2">
                                <div *ngIf="status === 'uploading'"
                                    class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                                    aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                                </div>
                                <div *ngIf="status === 'fail' || status === 'success'"
                                    [ngClass]="{'bg-success': status === 'success', 'bg-danger': status === 'fail'}"
                                    class="progress-bar" role="progressbar" style="width: 100%" aria-valuenow="100">
                                </div>
                            </div>
                            <span *ngIf="status === 'fail'" class="text text-danger my-2">آپلود عکس موفقیت آمیز نبود.
                                لطفا دوباره امتحان
                                کنید</span>
                            <div class="choose-photo-input">
                                <input (change)="onFileChange($event)" type="file" class="form-control" id="customFile">
                                <span class="">انتخاب تصویر</span>
                            </div>
                            <button *ngIf="file" (click)="onUpload()" class="btn btn-primary w-100 mt-2">آپلود</button>
                        </div>
                    </div>
                    <div class="col-8 d-flex flex-column gap-2">
                        <label for="desc">توضیحات</label>
                        <textarea class="w-100 form-control" rows="4" name="desc"></textarea>
                        <button type="submit" class="btn btn-success my-4 align-self-end submit-btn">ثبت</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>