<app-bread-crumbs></app-bread-crumbs>
<div class="row">
    <div class="col-md-8">
    <div class=" card add-user-page">
        <div class="card-header">
            <h5 class="mb-3">ویرایش پروفایل</h5>
        </div>
        <div class="card-body container-lg">
            
            
            <form class="d-flex flex-column gap-3" [formGroup]="editProfileForm">
                   
                        <div class=" mb-3">
                            <label for="name" class="form-label">نام</label>
                            <input required formControlName="firstName" type="text" class="form-control" id="name" />
                            <div *ngIf="editProfileForm.controls.firstName.touched && editProfileForm.controls.firstName.errors?.required"
                                class="text text-danger mt-1">وارد کردن نام الزامی است!</div>
                            <div *ngIf="editProfileForm.controls.firstName.touched && editProfileForm.controls.firstName.errors?.minlength"
                                class="text text-danger mt-1">نام باید حداقل 4 کاراکتر باشد!
                            </div>
                        </div>
                        <div class=" mb-3">
                            <label for="familyName" class="form-label">نام خانوادگی</label>
                            <input required formControlName="lastName" type="text" class="form-control"
                                id="familyName" />
                            <div *ngIf="editProfileForm.controls.lastName.touched && editProfileForm.controls.lastName.errors?.required"
                                class="text text-danger mt-1">وارد کردن نام خانوادگی الزامی است!
                            </div>
                            <div *ngIf="editProfileForm.controls.lastName.touched && editProfileForm.controls.lastName.errors?.minlength"
                                class="text text-danger mt-1">
                                نام خانوادگی باید حداقل 4 کاراکتر باشد!
                            </div>
                        </div>
                     
                   
                   
                        <div class=" d-flex flex-column gap-2">
                      
                            <button type="button" (click)="editProfile()"  class="btn btn-success my-4 align-self-end submit-btn">ثبت</button>
                        </div>
            </form>
        </div>
    </div>
    </div>
    <div class="col-md-4">
        <div class="card add-user-page">
            <div class="card-header">
                <h5 class="mb-3"> تغییر رمز عبور</h5>
            </div>
            <div class="card-body container-lg">
               
                <form [formGroup]="editPasswordForm">
                 
                    <div class="mb-3">
                        <label for="oldPassword" class="form-label">رمز عبور کنونی</label>
                        <input formControlName="oldPassword" required type="password" class="form-control"
                            id="oldPassword">
                        <div *ngIf="editPasswordForm.controls.oldPassword.touched && editPasswordForm.controls.oldPassword.errors?.required"
                            class="text text-danger mt-1">وارد کردن پسورد الزامی است!
                        </div>
                        
                    </div>
                        <div class="mb-3">
                            <label for="paswword" class="form-label">رمز عبور جدید</label>
                            <input formControlName="password" required type="password" class="form-control"
                                id="password">
                                <div *ngIf="editPasswordForm.controls.password.touched && editPasswordForm.controls.password.errors?.required"
                                class="text text-danger mt-1">وارد کردن پسورد الزامی است!
                            </div>
                            <div *ngIf="editPasswordForm.controls.password.touched && editPasswordForm.controls.password.errors?.pattern"
                                class="text text-danger mt-1">
                                پسورد باید شامل اعداد ، کاراکتر های انگلیسی و حروف کوچک و بزرگ باشد <br />
                            </div>
                            <div *ngIf="editPasswordForm.controls.password.touched && editPasswordForm.controls.password.errors?.minlength"
                            class="text text-danger mt-1">
                            پسورد باید حداقل ۸ کاراکتر باشد 
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="exampleInputEmail1" class="form-label">تایید رمز عبور جدید</label>
                            <input (change)="passwordMatchValidator(editPasswordForm)" type="password"
                                class="form-control" formControlName="confirmPassword" id="confirmPassword" />
                            <div *ngIf="editPasswordForm.controls.confirmPassword.touched && editPasswordForm.controls.confirmPassword.errors?.required"
                                class="text text-danger mt-1">
                                وارد کردن تایید پسورد الزامی است!
                            </div>
                            <div *ngIf="editPasswordForm.controls.confirmPassword.touched && editPasswordForm.controls.confirmPassword.errors?.passwordMismatch"
                                class="text text-danger mt-1">
                                پسورد و تایید پسورد باید یکسان باشند
                            </div>

                        </div>
                   
                        <div class=" d-flex flex-column gap-2">
                      
                            <button type="button" (click)=" changePassword()"  class="btn btn-success my-4 align-self-end submit-btn">ثبت</button>
                        </div>
                </form>
            </div>
        </div>
    </div>
</div>